@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a href="product/getProductsByCategory">get Products By Category </a>
</div>

<div>
    <a href="product/getProductHighPrice">get Product High Price </a>
</div>

<div>
    <a href="product/getTotalPrice">get Total Price </a>
</div>

<div>
    <a href="product/groupProductsByCategory">group Products By Category </a>
</div>

<div>
    <a href="product/getAvePrice">get Ave Price </a>
</div>